@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-navy-900 text-marina-100;
  }

  a {
    @apply text-marina-400 hover:text-marina-200;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-semibold tracking-tight text-marina-100;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold tracking-tight text-marina-100;
  }

  h3 {
    @apply text-xl md:text-2xl font-semibold tracking-tight text-marina-100;
  }
}
