@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans antialiased bg-white text-navy-900;
  }

  a {
    @apply text-marina-500 hover:text-marina-600;
  }

  h1 {
    @apply text-4xl md:text-5xl lg:text-6xl font-semibold tracking-tight text-navy-900;
  }

  h2 {
    @apply text-3xl md:text-4xl font-semibold tracking-tight text-navy-900;
  }

  h3 {
    @apply text-xl md:text-2xl font-semibold tracking-tight text-navy-900;
  }
}
